.App-header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow with slight blur */
  margin-bottom: 20px;
}

/* Use flexbox as a parent container */
.App-body {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  flex-wrap: wrap;
  text-align: left;
  align-items: flex-start; /* Center each item horizontally */
}

.header-container.list-mode {
  display: flex;
  justify-content: space-between; /* Space the items out (left and right) */
  align-items: center; /* Vertically center the items */
  padding: 10px 0px 10px 0px; /* Top and bottom padding */
  box-sizing: border-box; /* Prevents padding from affecting width calculations */
  margin-left: 25%;
  margin-right: 10%;
}

.header-container.grid-mode {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 10px 0px 10px 0px; 
  box-sizing: border-box; /* Prevents padding from affecting width calculations */
  margin-left: 11%;
  margin-right: 10%;
}

/* Styles for screens px and below (mobile screens) */
@media (max-width: 767px) {
  .header-container{
    margin-left: 5% !important;
  }
}

.Toggle-container {
  display: flex;
  width: auto; /* Make sure it only takes the necessary width */
  border: 1px solid black;
}

.toggle-option {
  flex: 1; /* Both buttons take equal width */
  padding: 10px 20px;
  font-size: 12px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* transition time for background color change */
}

.toggle-option.active {
  background-color: black;
  color: white;
}

.toggle-option:not(.active) {
  background-color: white;
  color: black;
}

.toggle-option:first-child {
  border-right: 1px solid black; /* Divider between buttons */
}

.toggle-option:focus {
  outline: none;
}

.toggle-option:hover {
  background-color: #D3D3D3;
}