.App {
  text-align: center;
}

.App-header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow with slight blur */
  margin-bottom: 20px;
}

.App-body {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.header-container.list-mode {
  display: flex;
  justify-content: space-between; /* This will space the items out (left and right) */
  align-items: center; /* Vertically center the items */
  padding: 10px 0px 10px 0px; /* Top and bottom padding */
  box-sizing: border-box; /* Prevents padding from affecting width calculations */
  /* width: 80%; */
  margin-left: 25%;
  margin-right: 10%;
}

.header-container.grid-mode {
  display: flex;
  justify-content: space-between; /* This will space the items out (left and right) */
  align-items: center; /* Vertically center the items */
  padding: 10px 0px 10px 0px; /* Top and bottom padding */
  box-sizing: border-box; /* Prevents padding from affecting width calculations */
  /* width: 80%; */
  margin-left: 11%;
  margin-right: 10%;
}

/* Styles for screens px and below (mobile screens) */
@media (max-width: 767px) {
  .header-container{
    margin-left: 5% !important;
  }
}

.Toggle-container {
  display: flex;
  width: auto; /* Make sure it only takes the necessary width */
  border: 1px solid black;
}

/* Grid layout: horizontal arrangement with wrapping */
.grid-layout {
  flex-wrap: wrap;
  align-items: flex-start;
}

/* List layout: vertical arrangement */
.list-layout {
  flex-wrap: wrap;
  text-align: left;
  align-items: flex-start; /* Center each item horizontally */
}

.toggle-option {
  flex: 1; /* Both buttons take equal width */
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* transition time for background color change */
}

.toggle-option.active {
  background-color: black;
  color: white;
}

.toggle-option:not(.active) {
  background-color: white;
  color: black;
}

.toggle-option:first-child {
  border-right: 1px solid black; /* Divider between List and Grid */
}

.toggle-option:focus {
  outline: none;
}

/* Image container for the picture on the card */
.image-container {
  width: 200px; 
  height: 200px; 
  overflow: hidden; /* Crop image if larger than container */
}

#urban-pic {
  width: 100%; /* Fill the container */
  height: 100%; 
  object-fit: cover; /* Ensures the image fills the container and crops it to maintain aspect ratio */
  object-position: center; /* Optional: Adjusts which part of the image is focused (center in this case) */
}