:root {
  --project-green: #00c295;
  --progress-bar-gray: #e0e0e0;
}
.Project-card{
  min-height: 220px;
  margin: 10px;
  margin-top: 2rem; 
  background-color: white; 
  color: black; 
  display: flex;
  flex-direction: column;

}

.Project-card.list-mode {
  width: 60%;
}

.Project-card.grid-mode {
  width: 25%;
}

/* Styles for small screens */
@media (max-width: 767px) {
  .Project-card {
    width: 90% !important; 
  }
  /* Hide the toggle buttons on mobile screens */
  .Toggle-container {
    display: none;
  }
}


/* Flex wrapper for card content container */
.card-content-wrapper {
  display: flex;
  gap: 10px;
}

.card-content-wrapper.list-mode {
  flex-direction: row; /* Default for list mode: column (image on left, text on the right) */
}

.card-content-wrapper.grid-mode {
  flex-direction: column; /* Default for grid mode: column (image on top, text below) */
}

/* Image container styles */
.image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

/* Media is centered horizontally and vertically */
#urban-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* In list mode, make the image square */
.card-content-wrapper.list-mode .image-container {
  width: 250px; /* Fixed width to maintain square aspect */
  padding-right: 20px; 
  margin-top: 20px;
}

.card-content-wrapper.list-mode .text-container {
  text-align: left;
  width: calc(100% - 150px); /* Take the rest of the width minus image space */
}

.card-content-wrapper.grid-mode .image-container {
  width: 100%;
  height: 200px; /* Adjust the height as necessary */
}

.card-content-wrapper.grid-mode .text-container {
  text-align: left;
  width: 100%;
}

/* Container for tags */
.tags-container {
  display: flex;
  flex-wrap: wrap; /* Allow whole tags to wrap to the next line if needed */
  gap: 0 8px; /* Only horizontal space between tags */
}

.tag {
  background-color: var(--project-green); 
  padding: 4px 8px; 
  border-radius: 12px; /* Rounded corners */
  color: black; 
  font-size: 0.7rem; 
  white-space: nowrap; /* Prevents tags from breaking into multiple lines */
  margin: 3px 0;
  font-weight: bold;
}

.progress-text {
  margin: 5px 0;
  display: flex;
  font-size: 0.9rem;
  gap: 6px; 
}

/* Style for the clock icon */
.progress-text .material-symbols-outlined {
  font-size: 1rem; 
  vertical-align: middle; 
}

/* Style for the active toggle option */
.toggle-option.active {
  background-color: black;
  color: white;
}

.project-title {
  text-decoration: underline;
  font-weight: bold;
}

.district {
  margin-bottom: 0.5rem;
}

.progress-background-bar{
  width: 100%;
  height: 5px; 
  background-color: var(--progress-bar-gray); 
}

.progress-bar {
  height: 100%;
  background-color: var(--project-green); 
  width: 0%;
}